* {margin: 0; padding:0; box-sizing: border-box;}
body {
    background-color: #20e8e8;
    color: aliceblue;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 20px;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.container *:not(i)::first-letter{
    text-transform: uppercase;
}

.container .title {
    font-size:26px;
}

.list-container {
    width: min(450px, 95%); 
    margin-top: 20px;
    margin-bottom: 20px;
}

.complete {
    background: #008000;
    opacity: 0.5;
}

.list {
    list-style: none;
    background: #08c8c8;
    border-radius: 10px;
}
    
.list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding: 10px;
    border-bottom: 1px solid #038f8f;
    border-top: 1px solid #0ceded;
}

.list li:first-child {
    border-top: none;
    border-radius: 10px 10px 0 0;
}

.list li:last-child {
    border-bottom: none;
    border-radius: 0 0 10px 10px;
}

.list li>div>.list-title {
    font-weight: 700;
}

.list li div:first-child {
    flex-grow: 1;
}

.list li div:last-child {
    flex-shrink: 0;
}

.btn-edit {
    cursor: pointer;
    color: #d2d21b;
}

.btn-delete {
    cursor: pointer;
    color: #df1f1f;
}

.modal-container {
    background: rgba(26, 22, 22,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top: -40px;
    z-index: 3;
}

.modal {
    width: 250px;
    height: 250px;
    background: #08c8c8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}

.hidden{
    display: none;
}

.btn {
    padding: 10px;
    background: #038f8f;
    border: none;
    border-radius: 5px;
    color:aliceblue;
    font-weight: 700;
    margin-top: 10px;
}
.group-input input {
    border: 1px solid aliceblue;
    padding: 5px;
    background: #20e8e8;
    margin-bottom: 5px;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 900;
    outline: none;
}
.group-input input::placeholder{
    color: aliceblue;
    font-weight: 700;
    opacity: 0.9;
}

.group-btn input {
    color: aliceblue;
    font-weight: 700;
    padding: 5px;
    background: #20e8e8;
    border: none;
    margin: 10px 0;
    border-radius: 5px;
}

.snackbar {
    background: #00000061;
    text-align: center;
    height: 50px;
    align-content: center;
    width: 50%;
    position: fixed;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    color: #000;
    font-weight: 900;
    font-size: 20px;
    text-transform: capitalize;
    bottom: 10%;
}