.complete {
    background: #008000;
    opacity: 0.5;
}

.hidden{
    display: none;
}

.snackbar {
    background: #00000061;
    text-align: center;
    height: 50px;
    align-content: center;
    width: 50%;
    position: fixed;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    color: #000;
    font-weight: 900;
    font-size: 20px;
    text-transform: capitalize;
    bottom: 10%;
    z-index: 111;
}