<div class="container">
@if (!hidden) {
  <app-modal 
  (hideModalEvent)="hideModal()" 
  (addTodoEvent)="createTodo($event)"
  (updateTodoEvent)="updateTodo($event)"
  [itemTitle]="todoTitle"
  ></app-modal>
}
  <div class="title">
      <h2>list of shopping</h2>
  </div>
  <button class="btn" [class.hidden]="!hidden" (click)="showModal()" >Add Item To List</button>

  <div class="list-container">
    <ul class="list">
      @for (todo of todos; track $index) {
        <li (dblclick)="isTodoCompleted($index, todo)" 
        [class]="todo.completed?'complete':''">
          
          <div>
            <p class="list-title">{{todo.title}}</p>
          </div>
          
          <div>
            <i class="material-icons btn-edit" 
            [class.hidden]="todo.completed"
            (click)="updateItemCall($index, todo)">border_color</i>
            
            <i class="material-icons btn-delete" 
            (click)="deleteTodo($index)">delete</i>
          </div>
        </li>
      }
      @if (todos.length === 0) {
        <li>
          <div>
            <p class="list-title">there is no item!!! Please, add shopping item</p>
          </div>
        </li>
      }
    </ul>
  </div>
  @if (snackBar.flag) {
    <div class="snackbar" >{{snackBar.msg}}</div>
  }
</div>


