<div class="container">
@if (!hidden) {
  <app-modal (hide)="hideModal()"></app-modal>
}
  <div class="title">
      <h2>list of shopping</h2>
  </div>
  <button class="btn" (click)="showModal()" >Add Item To List</button>

  <div class="list-container">
    <ul class="list">
      @for (todo of todos; track $index) {
        <li (dblclick)="isTodoCompleted($index, todo)" 
        [class]="todo.completed?'complete':''">
          
          <div>
            <p class="list-title">{{todo.title}}</p>
          </div>
          
          <div>
            <i class="material-icons btn-edit" 
            [class]="todo.completed?'hidden':''"
            (click)="updateTodo($index, todo)">border_color</i>
            
            <i class="material-icons btn-delete" 
            (click)="deleteTodo($index)">delete</i>
          </div>
        </li>
      }
    </ul>
  </div>
</div>
<div class="snackbar hidden">massage toast</div>

